/*tcp-buy_button
---------------------------*/
.tcp_buy_button_price .tcp_unit_price {
	font-weight:bold;
}
.tcp_buy_button table {
	margin-top: 10px;
	clear: both;
	width: auto !important;
	font-size:12px !important;
}
.tcp_buy_button table tr th {
	display: none;
}
.tcp_buy_button table tr td {
	vertical-align:middle;
	padding:4px 4px !important;
	width:auto;
}
.tcp_buy_button table select,
.tcp_buy_button table input {
    margin: 1px 0 1px;
	font-size:12px !important;
}
.tcp_added_product_title {
	display:block;
	clear:left;
	font-size:0.9em;
	color:#C00;
}
.tcp_count {
	height:22px;
	border: 1px solid #bbbbbb;
	line-height: 1em;
	text-align: center;
	vertical-align: middle;
	box-shadow:inset 0 0 0 2px #eee;
	-webkit-box-shadow:inset 0 0 0 2px #eee;
	-moz-box-shadow:inset 0 0 0 2px #eee;
}
.tcp_add_row {
}


