/*///////  BUY BUTTON  ///////////////////////////////*/

/*tcp-buy_button
---------------------------*/
.tcp_buy_button_price .tcp_unit_price {
	font-weight:bold;
}
.tcp_buy_button table {
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
	width: auto !important;
	font-size:12px !important;
}
.tcp_buy_button table tr th {
	display: none;
}
.tcp_buy_button table tr td {
	vertical-align:middle;
	padding:4px 4px !important;
	width:auto;
	border-top:1px solid #fff;
}
.tcp_buy_button table select,
.tcp_buy_button table input {
    margin: 1px 1px 1px;
	font-size:12px !important;
}
.tcp_added_product_title {
	display:block;
	clear:left;
	font-size:0.9em;
	color:#C00;
}
.tcp_count {
	text-align: center;
	margin-right:0;
	max-width:44px;
}
.tcp_add_row {
}
.tcp_add_selected_to_shopping_cart{
	margin-bottom: 20px;
	
}
.tcp_buy_button_price {
	white-space:nowrap;
}
.tcp_buy_button_count {
	white-space:nowrap;
}


/* =TCP buy button extras
-------------------------------------------------------------*/
table.tcp_buy_button  img {
    height: auto;
    max-width: 45px;
}
.tcp_add_selected_to_shopping_cart{
	display: none;
}







