.tcp_shopping_cart_table {
	border:0px !important;
}

.tcp_shopping_cart_table a{
	text-decoration: none;
	color: #000;
}
.tcp_shopping_cart_table a:hover{
	color: #c00;
}
.tcp_shopping_cart_table tr th,
.tcp_shopping_cart_table thead th {
	background-color: #333 !important;
	color: #ccccff !important;
}
.tcp_shopping_cart_table tr td {
}
.tcp_shopping_cart_table tr td {
	background-color: #f0f0ff;
	background-image: url(images/chekout_box_bg.gif);
	background-repeat: repeat-x;
	background-position: 0px -35px;
	border-top: 1px solid #fff;
	font-size: 11px;
}
.tcp_shopping_cart_table tr.odd td {
	background-color: #FfF7FC;
}
.tcp_cart_name {
	background-image: url(none) !important;
	background-color: #FfF7EE !important;
	width: 100%;
	font-size: 12px !important;
	color: #000 !important;
	padding-top: 14px !important;
	padding-bottom: 14px !important;
}
.tcp_cart_unit_price, .tcp_cart_price, .tcp_cart_units{
	text-align:right;
	}
.tcp_shopping_cart_table input {
	margin: 1px 0 1px 0;
}
.tcp_shopping_cart_table input.file,
.tcp_shopping_cart_table input.button {
	margin: 0 24px 0px 0;
}
.tcp_shopping_cart_table label {
	color: #888;
	font-size: 12px;
}
.tcp_shopping_cart_table select {
	margin: 0 0 0px 0;
}
.tcp_cart_subtotal_row td{
	border-top: 10px solid #fff !important;
	padding-top:6px !important;
}
.tcp_cart_total_row  td{
	padding-top:4px !important;
}
.tcp_cart_total_row  td, .tcp_cart_subtotal_row td{
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom:4px !important;
}
.tcp_cart_total {
	background-image: url(none) !important;
	background-color: #c00 !important;
	color: #FFF;
}
/* CHEKOUT THE WORDPRESS CART
-------------------------------------------------------------- */
#checkout div div {
}
#checkout h3{
	line-height: 24px;
	color: #f0f0f0;
	background-image:url(images/arrow-circle.gif);
	background-repeat: no-repeat;
	padding-left: 30px;
	background-position: 6px 4px;
	margin: 0px 0px 0px 0px !important;
	border-bottom: 1px solid #fff;
	font-size: 12px;
	background-color: #333;
}
.checkout_active h3.active{
	color: #F90;
}
#checkout h4{
	text-transform: uppercase;
	line-height: 20px;
	padding-left: 0px;
	border-bottom: 1px dotted #333;
	margin-bottom:10px;
}
#identify_layer, #billing_layer, #shipping_layer, #sending_layer, #payment_layer, #cart_layer {
}

.checkout_info {
	margin-bottom: 1px;
	font-size: 11px;
	padding: 10px;
	background-color: #FAF7EE;
	background-image: url(images/chekout_box_bg.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	border: 1px #ccc solid;
	}
.checkout_info strong{
	color: #666 !important;	
	}
.checkout_info input {
	padding: 0px;
	margin: 5px 0px 5px 0px;
}
.checkout_info select {
	padding: 0px;
	margin: 5px 0px 5px 0px;
}

.checkout_info label {
	padding: 0px 0px 0px 4px;
	margin: 0px;
}
#login_form {
	float:right;
	width:45%;
	padding: 10px;
}
#login_form label {
	width: 80px;
	float: left;
	padding-top:6px;
	clear:both;
}
#login_form input  {
	width: 100px;
	float: left;
	margin: 5px 0px 5px 0px;
}
#loginform p{
	padding: 0px;
}
.login-remember {
	clear:both;
	width: 100%;
	display: block;
}
.login-remember label{
	padding-top:10px;
	width: 200px !important;
	font-size: .85em;
}
.login-remember input {
	clear:left;
	float: left;
	margin: 5px 0px 5px 0px;
	width: 30px !important;
}

#login_guess {
	float:left;
	width:45%;
	padding: 10px;
}
#login_guess a{
	font-weight: bolder;
	font-size: 12px;
	text-decoration: none;
	color:#09F;
}
#login_guess a:hover{
	color:#F60;
}
#login_guess ul{
	margin-top: 6px;
	margin-bottom: 14px;
}
#billing_layer_info p, #shipping_layer_info p {
	line-height: 24px;
	margin-bottom:20px;
	clear: both;
	display: block;
}
#new_shipping_area li, #new_billing_area li {
	float: left;
	line-height: 24px;
	margin-bottom:1px;
	list-style-type: none;
}
#new_shipping_area li label, #new_billing_area li label {
	width: 140px;
	float: left;
}
#new_shipping_area li input, #new_billing_area li input, #new_shipping_area li select, #new_billing_area li select {
	width: 260px;
	float: left;
	margin: 0px 0px 0px 0px;
}

#new_shipping_area span.error, #new_billing_area span.error {
	line-height: 1em;
	clear:left;
	font-weight:bolder;
	color:#F60;
	display: block;
	padding:0px 0px 10px 4px;
}


#cart_layer table {
}
#cart_layer .checkout_item  td{
	background-color: #fff0f0;
	border-bottom:#fff solid 1px; /*FAF7EE*/
	padding-bottom: 6px;
	padding-top: 6px;
}
#cart_layer .impar  td{
	background-color: #FAF7EE;
}

#cart_layer .checkout_subtotal  td, #cart_layer .checkout_total  td{
	background-color: #f0f0ff;
}
#cart_layer .checkout_total  {
	font-weight: bolder;
	font-size: 12px;
}
#cart_layer .checkout_total  td{
	border-top:#999 dotted 1px;
}
.checkout_currency {
	text-align: right;
}
#cart_layer .checkout_total .checkout_currency{
	color: #fff;
	background-color: #c00;
	border:#c00 solid 1px;
}
.cart_layer_info table th{
	background-color: #fff;
}
.cart_layer_info #comment{
	width: 62%;
}
.checkout_subtotal tr{
}
